.container {
  display: grid;
  
  grid-template-columns: auto auto auto; 
  gap: 10px; 
  background-color: DodgerBlue;
  margin: 20px;
}

.container div {
  background-color: #f1f1f1;
    width: 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}